<div class="container-xxl" style="max-width: 100% !important; background-color: #0d0d0d !important">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <!-- Forgot Password -->
      <div class="card" style="background-color: #1e1e1e !important">
        <div class="card-body">
          <!-- /Logo -->
          <h4 class="mb-1 pt-2">Forgot Password? 🔒</h4>
          <p class="mb-4">
            Enter your email and we'll send you instructions to reset your
            password
          </p>
          <form
            id="formAuthentication"
            class="mb-3"
            [formGroup]="forgotpassForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter your email"
                formControlName="email"
              />

              @if (forgotpassForm.get('email')?.touched &&
            forgotpassForm.get('email')?.errors || error!==null) {

            <div class="text-danger">
              @if (forgotpassForm.get('email')?.errors?.['required']) {<small
                >Email is required.</small
              >} @if (forgotpassForm.get('email')?.errors?.['email']) {<small
                >Email is not valid.</small
              >} @if (error!==null) {<small
                >{{error.message}}</small
              >}
            </div>
            }
            </div>
            <button class="btn btn-primary d-grid w-100" type="submit">
              Send Reset Link
            </button>
          </form>
          <div class="text-center">
            <a class="d-flex align-items-center justify-content-center" [routerLink]="'/login'">
              <i class="ti ti-chevron-left scaleX-n1-rtl"></i>
              Back to login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
