<div class="authentication-wrapper authentication-cover authentication-bg">
  <div class="authentication-inner row">
    <!-- /Left Text -->
    <div
      class="d-none d-lg-flex col-lg-7 p-0"
      style="background-color: #0d0d0d !important"
    >
      <div
        class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center"
      ></div>
    </div>
    <!-- /Left Text -->

    <!-- Login -->
    <div
      class="d-flex col-12 col-lg-5 align-items-center p-sm-5 p-4"
      style="background-color: #1e1e1e !important"
    >
      <div class="w-px-400 mx-auto">
        <!-- Logo -->
        <div class="app-brand mb-4">
          <a href="index.html" class="app-brand-link gap-2"> </a>
        </div>
        <!-- /Logo -->
        <h3 class="mb-1">Welcome to Take A Chance</h3>
        <p class="mb-4">
          Please sign-in to your account and start the adventure
        </p>

        <form
          id="formAuthentication"
          class="mb-3"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email-username"
              placeholder="Enter your email"
              formControlName="email"
            />

            @if (loginForm.get('email')?.touched &&
            loginForm.get('email')?.errors) {

            <div class="text-danger">
              @if (loginForm.get('email')?.errors?.['required']) {<small
                >Email is required.</small
              >} @if (loginForm.get('email')?.errors?.['email']) {<small
                >Email is not valid.</small
              >}
            </div>
            }
          </div>

          <div class="mb-3 form-password-toggle">
            <div class="d-flex justify-content-between">
              <label class="form-label" for="password">Password</label>

              <a href="auth-forgot-password-cover.html">
                <small>Forgot Password?</small>
              </a>
            </div>
            <div class="input-group input-group-merge">
              <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="password"
                formControlName="password"
              />

              <span class="input-group-text cursor-pointer"> </span>
            </div>
            <!-- errors -->
            @if (loginForm.get('password')?.touched &&
            loginForm.get('password')?.errors) {
            <div class="text-danger">
              @if (loginForm.get('password')?.errors?.['required']) {<small
                >Password is required.</small
              >}
            </div>
            }
          </div>

          <button class="btn btn-primary d-grid w-100" type="submit">
            Sign in
          </button>
          @if (error && error.propertyName==="") {
          <div class="text-danger">
            {{ error.message }}
          </div>
          }
        </form>

        <p class="text-center">
          <span>New on our platform? </span>
          <a [routerLink]="'/register'">
            <span>Create an account</span>
          </a>
        </p>
      </div>
    </div>
    <!-- /Login -->
  </div>
</div>
