<div
  class="container-xxl"
  style="max-width: 100% !important; background-color: #0d0d0d !important"
>
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <!-- Reset Password -->
      <div class="card" style="background-color: #1e1e1e !important">
        <div class="card-body">
          <!-- /Logo -->
          <h4 class="mb-1 pt-2">Reset Password 🔒</h4>
          <p class="mb-4">
            for <span class="fw-medium">{{ email }}</span>
          </p>
          <form
            id="formAuthentication"
            [formGroup]="resetPasswordForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="mb-3 form-password-toggle">
              <label class="form-label" for="password">New Password</label>
              <div class="input-group input-group-merge">
                <input
                  [type]="isPasswordVisible() ? 'text' : 'password'"
                  id="password"
                  class="form-control"
                  name="password"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password"
                  formControlName="password"
                />
                <span
                  class="input-group-text cursor-pointer"
                  (click)="isPasswordVisible.set(!isPasswordVisible())"
                  ><i
                    [class]="
                      isPasswordVisible() ? 'ti ti-eye' : 'ti ti-eye-off'
                    "
                  ></i>
                </span>
              </div>

              @if (resetPasswordForm.get('password')?.touched &&
              resetPasswordForm.get('password')?.errors) {
              <div class="text-danger">
                @if (resetPasswordForm.get('password')?.errors?.['required'])
                {<small>Password is required.</small>} @if
                (resetPasswordForm.get('password')?.errors?.['notValidPassword']
                && !resetPasswordForm.get('password')?.errors?.['required'])
                {<small
                  >Password must contain at least 8 characters including one
                  uppercase letter, digit, special character.</small
                >}
              </div>
              }
            </div>
            <div class="mb-3 form-password-toggle">
              <label class="form-label" for="confirm-password"
                >Confirm Password</label
              >
              <div class="input-group input-group-merge">
                <input
                  [type]="isConfirmPasswordVisible() ? 'text' : 'password'"
                  id="confirm-password"
                  class="form-control"
                  name="confirm-password"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password"
                  formControlName="confirmpassword"
                />
                <span
                  class="input-group-text cursor-pointer"
                  (click)="isConfirmPasswordVisible.set(!isConfirmPasswordVisible())"
                  ><i
                    [class]="
                      isConfirmPasswordVisible() ? 'ti ti-eye' : 'ti ti-eye-off'
                    "
                  ></i>
                </span>
              </div>
              @if (resetPasswordForm.get('confirmpassword')?.touched) {
              <div class="text-danger">
                @if
                (resetPasswordForm.get('confirmpassword')?.errors?.['required']
                ) {<small>Confirm password is required.</small> } @if
                (resetPasswordForm.errors?.['passwordMismatch'] &&
                !resetPasswordForm.get('confirmpassword')?.errors?.['required'])
                {<small>Passwords do not match.</small>}
              </div>
              }
            </div>
            <button class="btn btn-primary d-grid w-100 mb-3" type="submit">
              Set new password
            </button>
            <div class="text-center">
              <a [routerLink]="'/login'">
                <i class="ti ti-chevron-left scaleX-n1-rtl"></i>
                Back to login
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
