<div class="authentication-wrapper authentication-basic px-4" style="max-width: 100% !important; background-color: #0d0d0d !important">
    <div class="authentication-inner py-4">
      <!-- Verify Email -->
      <div class="card" style="background-color: #1e1e1e !important">
        <div class="card-body">
          <h4 class="mb-1 pt-2">Reseted password</h4>
          <p class="text-start mb-4">
            Your password was reseted. Now you can sign in with new password.
          </p>
          <a class="btn btn-primary w-100 mb-3" [routerLink]="'/login'">
            Go to login
          </a>
        </div>
      </div>
      <!-- /Verify Email -->
    </div>
  </div>
  